html{
}

body {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  font-size: 100%;
  background: white;
  margin: 0;
  padding: 0;
}

.home-content {
	background: #2e2f3b !important;
	padding: 64px;
}

#menu {
	width: 20%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2e2f3b;
	padding: 0.25em;
	color: #f7e6c1;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	font-size: 1em;
}

#menu-wrapper {
	width: 100%;
	height: auto;
	vertical-align: top;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: left;
  align-items: start;

}

.menu-flex {
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	display: flex;
	width: 100%;
	flex: 1 1 100%;
  justify-content: center;
  align-items: center;
	text-align: left;
	color: white;
	font-size: 0.7em;
}

.menu-link {
	margin-top: -1px;
	margin-left: 0px;
	margin-bottom: 0px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	justify-content: center !important;
	font-size: 1em !important;
	height: 5vh;
}

.menu-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

#menu a    { color: #ffb15e; text-decoration: none; }
#menu a:hover   { color: #f7e6c1;  }

#banner {
	color: #f7e6c1;
	display: block;
	font-size: 1.5em;
}

#banner a { color: #f7e6c1; text-decoration: none; }
#banner a:hover { color: #ffb15e; text-decoration: bold; }
#banner a:visited { color: #f7e6c1; text-decoration: none; }
#banner #subtitle { font-size: 0.5em; }

#footer_block {
	left: 0px;
	margin-top: 10px;
	position: relative;
	text-align:left;
	font-size: 0.6em;
	bottom: 0;
	color: white;
}


#wrapper {
	margin-top: 0%;
	margin-left: 20%; /* Same as the width of the sidenav */
	color: black;
	background-color: white;
	padding: 1em 2em 2em 2em;
}

#wrapper a    { color: #632166; text-decoration: none;      }
#wrapper a:hover   { text-decoration: none; }
#wrapper a:visited  { text-decoration: none; }


 @media screen and (orientation:portrait) {
	#menu {
		width: 100%;
		height: 40px;
	}

	#menu-wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.menu-flex {
		margin-top: 0%;
		margin-left: 0%;
		margin-bottom: 0%;
	  justify-content: left;
	  align-items: center;
		text-align: left;
		width: auto;
	}

	.menu-link {
		height: 100%;
		margin-top: 0px;
		margin-left: -1px;
		border-top: none;
		border-bottom: none;
		border-left: 1px solid white;
		border-right: 1px solid white;
	}


	#wrapper {
		margin-left: 1%;
		margin-top: 60px;
	}

	#footer_block {
		margin-top: -10px;
	}
}


#main_block {
	overflow-y: scroll;
}

#main_block a { color: #ffb15e; }

h1 a { color: #211a47 !important }
h2 a { color: #211a47 !important }
h3 a { color: #211a47 !important }
h4 a { color: #211a47 !important }
h5 a { color: #211a47 !important }
h6 a { color: #211a47 !important }



#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0;
	list-style-type: none;
}

#post-list li {
	padding-left: 1em;
	border-left: 1px solid gray;
}

pre {
    margin-left: 1%;
    overflow: auto;
    display: block;
    padding: 10px;
    background: whitesmoke;
    line-height: 1.3;
    font-size: 0.9em;
}

code {
	font-family: Courier New;
}

.highlight {
	margin-left: 1%;
	border-left: 1px solid orange;
	color: black;
}

.kd {
	font-weight: bold;
}

.nb,.nt {
	color:purple;
}

.n, .nv,.nx {
	color:darkgreen;
}


.ch,.c1 {
	font-style: italic;
	color:gray;
}


.s2,.sb {
	color: darkred;
}


.code_highlight2 {
	color: red;
}

img[alt$="center"] {
	display:block;
	margin: 0 auto;
	max-width: 80%;
	height: auto;
}

img[alt$="right"] {
	display:inline-block;
	float: right;
	margin: 10px;
}

img[src*="#preview"] {
	display: inline-block;
	padding: 5px;
	margin: 5px;
	object-fit: cover;
	height: 20vw;
	width: 20vw;
	box-shadow: 0px 3px 5px lightblue;
}

.flex-col-wrapper {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	width:100%;
}


.flex-row-wrapper {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;
}


.centered {
	display: flex;
	flex-flow: wrap;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_table td,th {
	padding: 15px;
}

.img_container {
	display: flex;
  justify-content: center;
  align-items: center;
	flex: 0 40%;
	width: 50vw;
	height: 40vh;
	object-fit: cover;
	background-size: cover;
	border-radius: 10px;
  position: relative;
	border: 10px solid white;
	box-shadow: 0px 3px 5px lightblue;
	margin: 5px;
}

.img_container div {
	opacity: 0;
	color: white;
	display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100%;
  width: 95%;
  margin: 0px;
	background: rgba(0, 0, 0, 0.5);
}

.img_container h3 {
	position: absolute;
	z-index: 10;
	left: 10px;
	bottom: -30px;
	font-size: 3em;
	color: white;
	text-shadow: 0px 0px 5px black;
}

 @media screen and (orientation:portrait) {

	img[src*="#preview"] {
		height: 33vw;
		width: 40%;
	}

	.img_container {
		flex: 100%;
		height: 25vh;
	}

	.img_container h3 {
		position: absolute;
		z-index: 10;
		left: 10px;
		bottom: -30px;
		font-size: 2em;
		color: white;
		text-shadow: 0px 0px 5px black;
	}
}

.img_container a { color: lightpink !important }
.img_container a:link { color: lightpink !important }
.img_container a:visited { color: hotpink !important }
.img_container a:hover { color: lightsalmon !important }
.img_container a:active { color: lightsalmon !important }


img[src*="#pane"] {

	padding: 5px;
	margin: 5px;
	display:inline-block;
	object-fit: cover;
	width: 400px;
	height: 300px;
	box-shadow: 0px 3px 5px lightblue;
}

img[src*="#pane"] span {
	
}


/* Source: W3 schools */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 10px;
  padding-right: 50px;
  width: 95vw;
}
.modal-content img {
	display:block;
	margin: 0 auto;
	height: 90vh;
}

/* The Close Button */
.modal-close {
  color: #ebebeb;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.expand-section {
	padding: 2px;
	border-bottom: 1px solid black;
	cursor: pointer;
}

.expand-section:hover {
	color: hotpink;
	background-color: ghostwhite;
}

.expand-section+div {
	padding-left: 20px;
}

.hover-ul {
	padding-left: 20px;
	width: 70%;
}

.hover-ul li {
	background-color: white;
	margin-bottom: -1px;
	padding: 5px;
}

.hover-ul li:hover {
	background-color: ghostwhite;
}


